# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/build
/dist

# testing
/coverage

# IDE and editor specific
.vscode/
.idea/

# local testing and cache
.cache/
.tmp/

# local database files
*.sqlite
*.db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
